name: Get decrypted app link
on:
  workflow_call:
    inputs:
      appName:
        type: string
      tweakName:
        type: string
      appVersion:
        type: string
        default: latest
    outputs:
      decrypted_link:
        value: ${{ jobs.getDecryptedLink.outputs.decrypted_link }}

jobs:
  getDecryptedLink:
    runs-on: ubuntu-latest
    outputs:
      decrypted_link: ${{ steps.run-script.outputs.decrypted_link }}
    steps:
      - uses: actions/checkout@v5
      - id: run-script
        uses: actions/github-script@v8
        env:
          APP_NAME: ${{ inputs.appName }}
          TWEAK_NAME: ${{ inputs.tweakName }}
          APP_VERSION: ${{ inputs.appVersion }}
          WEB_BASE_URL: ${{ secrets.WEB_BASE_URL }}
          WEB_USERNAME: ${{ secrets.WEB_USERNAME }}
          WEB_PASSWORD: ${{ secrets.WEB_PASSWORD }}
        with:
          github-token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const { default: run } = await import('${{ github.workspace }}/actions/getDecryptedLink/index.ts')
            return await run({ github, context, core })
