name: Tweak App
run-name: ${{ inputs.tweakName }} ${{ inputs.appVersion }}
on:
  workflow_dispatch:
    inputs:
      tweakName:
        description: tweakName
        required: true
        type: choice
        options:
          - YTLite
      appVersion:
        description: appVersion
        required: true
        type: string
        default: latest

jobs:
  getDecryptedLink:
    uses: ./.github/workflows/getDecryptedLink.yml
    secrets: inherit
    with:
      tweakName: ${{ inputs.tweakName }}
      appVersion: ${{ inputs.appVersion }}
  prepareAndDispatch:
    runs-on: ubuntu-latest
    needs: getDecryptedLink
    outputs:
      head_sha: ${{ steps.run-script.outputs.result }}
    steps:
      - uses: actions/checkout@v5
      - id: run-script
        uses: actions/github-script@v8
        env:
          WEB_BASE_URL: ${{ secrets.WEB_BASE_URL }}
          WEB_USERNAME: ${{ secrets.WEB_USERNAME }}
          WEB_PASSWORD: ${{ secrets.WEB_PASSWORD }}
          DECRYPTED_LINK: ${{ needs.getDecryptedLink.outputs.decrypted_link }}
        with:
          github-token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const { default: run } = await import('${{ github.workspace }}/actions/tweakApp/prepareAndDispatch.ts')
            return await run({ github })
  downloadAndUpload:
    runs-on: ubuntu-latest
    needs: prepareAndDispatch
    steps:
      - uses: actions/checkout@v5
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: pnpm
      - name: Install dependencies
        run: pnpm install --prod --filter actions
      - name: Download latest and upload
        uses: actions/github-script@v8
        env:
          HEAD_SHA: ${{ needs.prepareAndDispatch.outputs.head_sha }}
        with:
          github-token: ${{ secrets.SCRIPT_GITHUB_TOKEN }}
          script: |
            const { default: run } = await import('${{ github.workspace }}/actions/tweakApp/downloadAndUpload.ts')
            return await run({ github, context, core })
  generateJsonAndDeploy:
    needs: downloadAndUpload
    uses: ./.github/workflows/generateJsonAndDeploy.yml
    secrets: inherit
